
<patTemplate:tmpl name="component:page_title" unusedvars="ignore">
    {LANG:MCLOUD:FRONTPAGE:CAPTION}
</patTemplate:tmpl>

<patTemplate:tmpl name="component" unusedvars="ignore">
<style>

.mcloud_frontpage_frame
{
    border:		none;
    padding:		12px;
    margin-bottom:	12px;
    width:		770px;
    height:		480px;
}

.mcloud_frontpage_headrow
{
    background-image:	url(images/bg_button_3d.gif);
    width:		100%;
    height:		50px;
    padding-top:	3px;
    font-size: 		large;
    padding-left:	10px;
}

</style>

<div class="mcloud_frontpage_frame">
    {FRONTPAGE:PLAYERBOX}
</div>

<div class="mcloud_frontpage_frame">
    <p>
    {FRONTPAGE:TOPMEDIA}
    </p>
    <p>&nbsp;</p>
    {MCLOUD:FRONTPAGE:TEASER}
</div>

</patTemplate:tmpl>
