@charset "utf-8";
/* CSS Right */

#content {
	padding-left:0px;
	width: 666px;
}

#container {
	background-image:url(<?php echo $this->baseurl ?>/templates/<?php echo $this->template ?>/images/body-right.png);
}
