Package: tmpl-rhuk_milkyway
Section: webapps/joomla-1.5
Maintainer: Enrico Weigelt, metux IT service <weigelt@metux.de>
Version: 1.5.10
Description: rhuk-milkyway frontend template
Priority: required
