 a { text-decoration: none }
 A:hover { text-decoration:underline;}
 BODY 
 { 
  border-width:0; 
  font-family: tahoma; 
 }
 .MojText {font-family:Tahoma; font-style:normal; font-size:8pt;}
 SELECT.news { border : 1pt solid Black; background-color : #DEDEDE; font-family : Tahoma; font-size : 8pt; }
 BUTTON.news { border : 1pt solid Black; background-color : #DEDEDE; font-family : Tahoma; font-size : 8pt; }