
    <patTemplate:tmpl name="component:page_title" unusedvars="ignore">
	{LANG:MCLOUD:UPLOAD:CAPTION}
    </patTemplate:tmpl>

<patTemplate:tmpl name="component" unusedvars="ignore">

    <patTemplate:tmpl name="component:error:quotefull" unusedvars="ignore" visibility="hidden">
	{LANG:MCLOUD:UPLOAD:ERROR:QUOTE-FULL}
    </patTemplate:tmpl>

    <patTemplate:tmpl name="component:error" visibility="hidden">
    </patTemplate:tmpl>

    <patTemplate:tmpl name="component:view" unusedvars="ignore">
<link rel="stylesheet" href="{PAGE:CSS}" type="text/css" />
<script language="javascript" type="text/javascript">
//
// helper scripts for the upload form
//

function checkform(form)
{
    if ((form.category_id.value=='none')||(!form.category_id.value))
    {
	alert('{LANG:MCLOUD:UPLOAD:MISSING:CATEGORY}');
	return false;
    }

    if (!form.title.value)
    {
	alert('{LANG:MCLOUD:UPLOAD:MISSING:TITLE}');
	return false;
    }

    if (!form.description.value)
    {
	alert('{LANG:MCLOUD:UPLOAD:MISSING:DESCRIPTION}');
	return false;
    }

    if (!form.filename.value)
    {
	alert('{LANG:MCLOUD:UPLOAD:MISSING:FILE}');
	return false;
    }

    return true;
}
</script>

<h1> {LANG:MCLOUD:UPLOAD:CAPTION} </h1>
<form name="videoupload" action="{ACTION}" method="POST" enctype="multipart/form-data" onSubmit="return checkform(this);" class="mcloud_uploadform">
    <input type="hidden" name="token"        value="{TOKEN}">
    <input type="hidden" name="media_ns"     value="{MEDIA_NS}">
    <input type="hidden" name="owner_ns"     value="{OWNER_NS}">
    <input type="hidden" name="owner_name"   value="{OWNER_NAME}">
    <input type="hidden" name="kickback_ok"  value="{KICKBACK_OK}">
    <input type="hidden" name="kickback_err" value="{KICKBACK_ERR}">
	<table cellpadding="0" cellspacing="0" border="0">
	    <tr>
		<td class="tab_left"> {LANG:MCLOUD:UPLOAD:TITLE}
			<font class="required">*</font>
		</td>
		<td>
			<input id="title" name="title" value="" class="inputbox"/>
		</td>
	    </tr>
	    <tr>
		<td valign="top" class="tab_left"> {LANG:MCLOUD:UPLOAD:DESCRIPTION} <font class="required">*</font> </td>
		<td valign="top">
			<textarea id="description" rows="4" cols="20" name="description" class="inputbox"></textarea>
		</td>
	    </tr>
	    <tr>
		<td> {LANG:MCLOUD:UPLOAD:CATEGORY}: <font class="required">*</font> </td>
		<td>{CATEGORY_SELECT}</td>
	    </tr>
	    <tr>
		<td> {LANG:MCLOUD:UPLOAD:TAGS}: <font class="required">*</font> </td>
		<td> <input id="tags" name="tags" class="inputbox"/></td>
	    </tr>
	    <tr>
		<td> {LANG:MCLOUD:UPLOAD:FILE}: </td>
		<td> <input id="filename" name="filename" type="file"> </td>
	    </tr>
	    <tr>
		<td> {LANG:MCLOUD:UPLOAD:ALLOWED-FORMATS:HDR}: </td>
		<td> {LANG:MCLOUD:UPLOAD:ALLOWED-FORMATS:LIST} </td>
	    </tr>
	    <tr>
		<td class="tab_left">{LANG:MCLOUD:UPLOAD:VISIBILITY}</td>
		<td>
		    <select name="visibility">
			<option value="public"> {LANG:MCLOUD:UPLOAD:VISIBILITY:PUBLIC} </option>
			<option value="registered"> {LANG:MCLOUD:UPLOAD:VISIBILITY:REGISTERED} </option>
			<option value="group"> {LANG:MCLOUD:UPLOAD:VISIBILITY:GROUP} </option>
		    </select>
		</td>
	    </tr>
	    <tr>
		<td class="tab_left">{LANG:MCLOUD:UPLOAD:PRICE}</td>
		<td><input id="price" name="price" class="inputbox" /></td>
	    </tr>
	    <tr>
		<td class="tab_left"></td>
		<td><input type="submit" class="inputbox" value="{LANG:MCLOUD:UPLOAD:CONTINUE}" /></td>
	    </tr>
	</table>
</form>

    </patTemplate:tmpl>

</patTemplate:tmpl>
